@use "sass:map";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: 'Alata', sans-serif;
}

a {
  text-decoration: none;
}

// General

  // Alignment
  $text-align-center: center;
  $text-align-right: right;
  $text-align-left: left;

  //color
  $color-primary: #5075d0;
  $color-secondary: #e779e2;
  $color-borders-primary: #ecf0f1;

  // icons && text font size
  $font-size-primary: 1em;
  $font-size-icon: 0.6em;
  $font-size-breadcrumb-text: 0.6em;

  // padding
  $padding-primary: 5px 10px;


// page page-navigation
$navigation-menu-border-color: $color-borders-primary;
$navigation-menu-padding: $padding-primary;
$navigation-menu-icons-font-size: $font-size-icon;
$navigation-menu-icons-color: $font-size-icon;
$navigation-menu: (
        "border-color": $navigation-menu-border-color,
        "padding": $navigation-menu-padding,
        "icons-font-size": $navigation-menu-icons-font-size,
        "icons-color": $navigation-menu-icons-color,
        "primary-color": $color-primary,
        "secondary-color": $color-secondary

);

.navigation {
  border-bottom: 1px solid map.get($navigation-menu, "border-color");
  padding: map.get($navigation-menu, "padding");
}

.navigation .navigation-logo .primary {
  color: map.get($navigation-menu, "primary-color")
}

.navigation .navigation-logo .secondary {
  color: map.get($navigation-menu, "secondary-color")
}

.navigation .navigation-actions i {
  font-size: map.get($navigation-menu, "icons-font-size");
  color: map.get($navigation-menu, "icons-color");
  margin-left: 5px;
}


// General page title

$page-title: (
        "padding": $padding-primary,
        "color": $color-primary,
        "align": $text-align-center,
        "font-size": $font-size-primary
);

.page-title {
  text-align: map.get($page-title, "align");
  padding: map.get($page-title, "padding");
}

.page-title .title {
  color: map.get($page-title, "color");
  font-size: map.get($page-title, "font-size");
}

// Breadcrumbs

$page-breadcrumbs: (
        "font-size": $font-size-breadcrumb-text,
        "font-size-icon": $font-size-icon,
        "color": $color-primary,
        "padding": $padding-primary
);

.page-navigation {
  padding: map.get($page-breadcrumbs, "padding");
}

.page-navigation .breadcrumb .name {
  color: map.get($page-breadcrumbs, "color");
  font-size: map.get($page-breadcrumbs, "font-size");
}

.page-navigation .breadcrumb .icon i {
  font-size: map.get($page-breadcrumbs, "font-size-icon");
  color: map.get($page-breadcrumbs, "color");
  margin-right: 3px;
}
